DATABASE_URL="sqlserver://localhost:14330;database=elder_web;user=sa;password=SUA_SENHA_REAL_AQUI;encrypt=true;trustServerCertificate=true"
PORT=3000
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=